<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>KdLabs API - {{pageTitle}}  </title>
</head>
<body>
<div class="container padding-top">
<div class="row">
    <div class="col-12">
        {{> header}}
        <div id="doc-body" class="">
            <div class="row row-no-padding row-eq-height" id="intro">
            <div class="col-md-6 col-xs-12 examples">

                <div class="hidden-xs hidden-sm sidebar-error">
                    <p class="heading">Could not load examples for this collection</p>
                    <button class="btn btn-default retry-button" id="retryLoadingExamples">Retry</button>
                </div>
                <div class="hidden-xs hidden-sm sidebar-loader spinner"></div>
            </div>

        </div>
            <div class="row row-no-padding row-eq-height" id="f1517183-5044-4d2c-fcc5-38872adac5cc">
                <div class="col-md-6 col-xs-12 section">
                    <div class="api-information">
                        <div class="heading">
                            <div class="name">
                                <span class="GET method">GET</span>
                                GET/kdCars
                            </div>
                        </div>
                        <div class="url">https://kd-cars-api.herokuapp.com/kdCars</div>
                        <div class="description"></div>





                    </div>
                    <br><br>
                </div>


                <div class="col-md-6 col-xs-12 examples">
                    <div class="sample-request">
                        <div class="heading"><span>Example Request</span></div>

                        <div class="responses-index">
                            <div class="response-name"><span>GET/kdCars</span></div>
                        </div>
                    </div>

                    <div class="request code-snippet">
                        <div class="formatted-requests is-default" data-lang="Node" data-id="f1517183-5044-4d2c-fcc5-38872adac5cc_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper language-javascript">
                <code class=" is-highlighted language-javascript" id="Node_0_f1517183-5044-4d2c-fcc5-38872adac5cc"><span class="token keyword">var</span> http <span class="token operator">=</span> <span class="token function">require</span><span class="token punctuation">(</span><span class="token string">"http"</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token keyword">var</span> options <span class="token operator">=</span> <span class="token punctuation">{</span>
  <span class="token string">"method"</span><span class="token punctuation">:</span> <span class="token string">"GET"</span><span class="token punctuation">,</span>
  <span class="token string">"hostname"</span><span class="token punctuation">:</span> <span class="token punctuation">[</span>
    <span class="token string">"https://kd-cars-api.herokuapp.com"</span>
  <span class="token punctuation">]</span><span class="token punctuation">,</span>
  <span class="token string">"path"</span><span class="token punctuation">:</span> <span class="token punctuation">[</span>
    <span class="token string">"kdCars"</span>
  <span class="token punctuation">]</span><span class="token punctuation">,</span>
  <span class="token string">"headers"</span><span class="token punctuation">:</span> <span class="token punctuation">{</span><span class="token punctuation">}</span>
<span class="token punctuation">}</span><span class="token punctuation">;</span>

<span class="token keyword">var</span> req <span class="token operator">=</span> http<span class="token punctuation">.</span><span class="token function">request</span><span class="token punctuation">(</span>options<span class="token punctuation">,</span> <span class="token keyword">function</span> <span class="token punctuation">(</span>res<span class="token punctuation">)</span> <span class="token punctuation">{</span>
  <span class="token keyword">var</span> chunks <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token punctuation">]</span><span class="token punctuation">;</span>

  res<span class="token punctuation">.</span><span class="token function">on</span><span class="token punctuation">(</span><span class="token string">"data"</span><span class="token punctuation">,</span> <span class="token keyword">function</span> <span class="token punctuation">(</span>chunk<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    chunks<span class="token punctuation">.</span><span class="token function">push</span><span class="token punctuation">(</span>chunk<span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  res<span class="token punctuation">.</span><span class="token function">on</span><span class="token punctuation">(</span><span class="token string">"end"</span><span class="token punctuation">,</span> <span class="token keyword">function</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">var</span> body <span class="token operator">=</span> Buffer<span class="token punctuation">.</span><span class="token function">concat</span><span class="token punctuation">(</span>chunks<span class="token punctuation">)</span><span class="token punctuation">;</span>
    console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span>body<span class="token punctuation">.</span><span class="token function">toString</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

req<span class="token punctuation">.</span><span class="token function">end</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
                            <!-- Button over the expand overlay -->
                        </div>
                    </div>

                </div>

            </div>
            <div class="row row-no-padding row-eq-height" id="fd559c81-2ef2-de10-0332-6516951f8744">
                <div class="col-md-6 col-xs-12 section">
                    <div class="api-information">
                        <div class="heading">
                            <div class="name">
                                <span class="POST method">POST</span>
                                POST/kdCars
                            </div>
                        </div>
                        <div class="url">https://kd-cars-api.herokuapp.com/kdCars</div>
                        <div class="description"></div>

                        <div class="headers">
                            <div class="heading">HEADERS</div>
                            <hr>
                            <div class="param row">
                                <div class="name col-md-3 col-xs-12">Content-Type</div>
                                <div class="value col-md-9 col-xs-12">application/json</div>
                            </div>
                        </div>



                        <div class="request-body">
                            <div class="body-heading">BODY</div>
                            <hr>
                            <div class="raw-body code-snippet">
            <pre class="body-block click-to-expand-wrapper is-snippet-wrapper"><code class="body-block language-javascript">{
        "Name":"chevrolet chevelle malibu",
      "Miles_per_Gallon":18,
      "Cylinders":8,
      "Displacement":307,
      "Horsepower":130,
      "Weight_in_lbs":3504,
      "Acceleration":12,
      "Year":"1970-01-01",
      "Origin":"USA"
}</code></pre>
                            </div>

                        </div>

                    </div>
                    <br><br>
                </div>


                <div class="col-md-6 col-xs-12 examples">
                    <div class="sample-request">
                        <div class="heading"><span>Example Request</span></div>

                        <div class="responses-index">
                            <div class="response-name"><span>POST/cars</span></div>
                        </div>
                    </div>

                    <div class="request code-snippet">
                        <div class="formatted-requests is-default" data-lang="Node" data-id="fd559c81-2ef2-de10-0332-6516951f8744_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper language-javascript">
                <code class=" is-highlighted language-javascript" id="Node_0_fd559c81-2ef2-de10-0332-6516951f8744"><span class="token keyword">var</span> http <span class="token operator">=</span> <span class="token function">require</span><span class="token punctuation">(</span><span class="token string">"http"</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token keyword">var</span> options <span class="token operator">=</span> <span class="token punctuation">{</span>
  <span class="token string">"method"</span><span class="token punctuation">:</span> <span class="token string">"POST"</span><span class="token punctuation">,</span>
  <span class="token string">"hostname"</span><span class="token punctuation">:</span> <span class="token punctuation">[</span>
    <span class="token string">"https://kd-cars-api.herokuapp.com"</span>
  <span class="token punctuation">]</span><span class="token punctuation">,</span>
  <span class="token string">"path"</span><span class="token punctuation">:</span> <span class="token punctuation">[</span>
    <span class="token string">"kdCars"</span>
  <span class="token punctuation">]</span><span class="token punctuation">,</span>
  <span class="token string">"headers"</span><span class="token punctuation">:</span> <span class="token punctuation">{</span>
    <span class="token string">"Content-Type"</span><span class="token punctuation">:</span> <span class="token string">"application/json"</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span><span class="token punctuation">;</span>

<span class="token keyword">var</span> req <span class="token operator">=</span> http<span class="token punctuation">.</span><span class="token function">request</span><span class="token punctuation">(</span>options<span class="token punctuation">,</span> <span class="token keyword">function</span> <span class="token punctuation">(</span>res<span class="token punctuation">)</span> <span class="token punctuation">{</span>
  <span class="token keyword">var</span> chunks <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token punctuation">]</span><span class="token punctuation">;</span>

  res<span class="token punctuation">.</span><span class="token function">on</span><span class="token punctuation">(</span><span class="token string">"data"</span><span class="token punctuation">,</span> <span class="token keyword">function</span> <span class="token punctuation">(</span>chunk<span class="token punctuation">)</span> <span class="token punctuation">{</span>
    chunks<span class="token punctuation">.</span><span class="token function">push</span><span class="token punctuation">(</span>chunk<span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

  res<span class="token punctuation">.</span><span class="token function">on</span><span class="token punctuation">(</span><span class="token string">"end"</span><span class="token punctuation">,</span> <span class="token keyword">function</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">var</span> body <span class="token operator">=</span> Buffer<span class="token punctuation">.</span><span class="token function">concat</span><span class="token punctuation">(</span>chunks<span class="token punctuation">)</span><span class="token punctuation">;</span>
    console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span>body<span class="token punctuation">.</span><span class="token function">toString</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

req<span class="token punctuation">.</span><span class="token function">write</span><span class="token punctuation">(</span>JSON<span class="token punctuation">.</span><span class="token function">stringify</span><span class="token punctuation">(</span><span class="token punctuation">{</span> make<span class="token punctuation">:</span> <span class="token string">'Nissan'</span><span class="token punctuation">,</span> model<span class="token punctuation">:</span> <span class="token string">'Rogue'</span><span class="token punctuation">,</span> color<span class="token punctuation">:</span> <span class="token string">'Grey'</span><span class="token punctuation">,</span> mileage<span class="token punctuation">:</span> <span class="token number">11999</span> <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
req<span class="token punctuation">.</span><span class="token function">end</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
                            <!-- Button over the expand overlay -->
                        </div>
                    </div>

                    <div class="sample-response">
                        <div class="heading">
                            <span>Example Response</span>
                        </div>
                        <div class="responses-index">
                            <div class="response-status is-default" data-id="fd559c81-2ef2-de10-0332-6516951f8744_0"><span>200 OK</span></div>
                        </div>
                    </div>
                    <div class="responses code-snippet">
                        <div class="formatted-responses is-default" data-id="fd559c81-2ef2-de10-0332-6516951f8744_0" data-lang="json">
              <pre class="click-to-expand-wrapper is-snippet-wrapper is-example" data-id="fd559c81-2ef2-de10-0332-6516951f8744_0" data-lang="json"><code class="language-javascript">{
  "mileage": 11999,
  "_id": "5b490fd99fa3ff00145ae97d",
  "make": "Nissan",
  "model": "Rogue",
  "color": "Grey",
  "__v": 0
}</code></pre>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-no-padding row-eq-height" id="826b6638-9903-2c40-1b10-ce352cbfee9e">
                <div class="col-md-6 col-xs-12 section">
                    <div class="api-information">
                        <div class="heading">
                            <div class="name">
                                <span class="GET method">GET</span>
                                GET/kdCars/:id
                            </div>
                        </div>
                        <div class="url">https://kd-cars-api.herokuapp.com/kdCars/5b490f0eaad1395b0cb10c9e</div>
                        <div class="description"></div>





                    </div>
                    <br><br>
                </div>


                <div class="col-md-6 col-xs-12 examples">
                    <div class="sample-request">
                        <div class="heading"><span>Example Request</span></div>

                        <div class="responses-index">
                            <div class="response-name"><span>GET/kdCars/:id</span></div>
                        </div>
                    </div>

                    <div class="request code-snippet">
                        <div class="formatted-requests is-default" data-lang="Node" data-id="826b6638-9903-2c40-1b10-ce352cbfee9e_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper">
                <code class="language-javascript" id="Node_0_826b6638-9903-2c40-1b10-ce352cbfee9e">var http = require("http");

var options = {
  "method": "GET",
  "hostname": [
    "https://kd-cars-api.herokuapp.com"
  ],
  "path": [
    "kdCars",
    "5b490f0eaad1395b0cb10c9e"
  ],
  "headers": {}
};

var req = http.request(options, function (res) {
  var chunks = [];

  res.on("data", function (chunk) {
    chunks.push(chunk);
  });

  res.on("end", function () {
    var body = Buffer.concat(chunks);
    console.log(body.toString());
  });
});

req.end();</code></pre>
                            <!-- Button over the expand overlay -->
                        </div>
                    </div>

                </div>

            </div>
            <div class="row row-no-padding row-eq-height" id="a76c4945-be8a-9f01-57ff-4230a403949f">
                <div class="col-md-6 col-xs-12 section">
                    <div class="api-information">
                        <div class="heading">
                            <div class="name">
                                <span class="DELETE method">DELETE</span>
                                DELETE/kdCars/:id
                            </div>
                        </div>
                        <div class="url">https://kd-cars-api.herokuapp.com/kdCars/5b490f0eaad1395b0cb10c9e</div>
                        <div class="description"></div>





                    </div>
                    <br><br>
                </div>


                <div class="col-md-6 col-xs-12 examples">
                    <div class="sample-request">
                        <div class="heading"><span>Example Request</span></div>

                        <div class="responses-index">
                            <div class="response-name"><span>DELETE/kdCars/:id</span></div>
                        </div>
                    </div>

                    <div class="request code-snippet">
                        <div class="formatted-requests is-default" data-lang="Node" data-id="a76c4945-be8a-9f01-57ff-4230a403949f_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper">
                <code class="language-javascript" id="Node_0_a76c4945-be8a-9f01-57ff-4230a403949f">var http = require("http");

var options = {
  "method": "DELETE",
  "hostname": [
    "https://kd-cars-api.herokuapp.com"
  ],
  "path": [
    "kdCars",
    "5b490f0eaad1395b0cb10c9e"
  ],
  "headers": {}
};

var req = http.request(options, function (res) {
  var chunks = [];

  res.on("data", function (chunk) {
    chunks.push(chunk);
  });

  res.on("end", function () {
    var body = Buffer.concat(chunks);
    console.log(body.toString());
  });
});

req.end();</code></pre>
                            <!-- Button over the expand overlay -->
                        </div>
                    </div>

                </div>

            </div>
            <div class="row row-no-padding row-eq-height" id="0c014656-7e9d-7748-da1d-68414b37875d">
                <div class="col-md-6 col-xs-12 section">
                    <div class="api-information">
                        <div class="heading">
                            <div class="name">
                                <span class="PATCH method">PATCH</span>
                                PATCH/kdCars/:id
                            </div>
                        </div>
                        <div class="url">https://kd-cars-api.herokuapp.com/kdCars/5b490f0eaad1395b0cb10c9e</div>
                        <div class="description"></div>

                        <div class="headers">
                            <div class="heading">HEADERS</div>
                            <hr>
                            <div class="param row">
                                <div class="name col-md-3 col-xs-12">Content-Type</div>
                                <div class="value col-md-9 col-xs-12">application/json</div>
                            </div>
                            <div class="param row">
                                <div class="name col-md-3 col-xs-12"></div>
                                <div class="value col-md-9 col-xs-12"></div>
                            </div>
                        </div>



                        <div class="request-body">
                            <div class="body-heading">BODY</div>
                            <hr>
                            <div class="raw-body code-snippet">
            <pre class="body-block click-to-expand-wrapper is-snippet-wrapper"><code class="body-block language-javascript">{
  "make": "Nissan",
 "model": "Rogue",
 "color": "Quick Silver",
 "mileage": 12548
}</code></pre>
                            </div>

                        </div>

                    </div>
                    <br><br>
                </div>


                <div class="col-md-6 col-xs-12 examples">
                    <div class="sample-request">
                        <div class="heading"><span>Example Request</span></div>

                        <div class="responses-index">
                            <div class="response-name"><span>PATCH/kdCars/:id</span></div>
                        </div>
                    </div>

                    <div class="request code-snippet">
                        <div class="formatted-requests is-default" data-lang="Node" data-id="0c014656-7e9d-7748-da1d-68414b37875d_0">
            <pre class="click-to-expand-wrapper is-snippet-wrapper">
                <code class="language-javascript" id="Node_0_0c014656-7e9d-7748-da1d-68414b37875d">var http = require("http");

var options = {
  "method": "PATCH",
  "hostname": [
    "https://kd-cars-api.herokuapp.com"
  ],
  "path": [
    "kdCars",
    "5b490f0eaad1395b0cb10c9e"
  ],
  "headers": {
    "Content-Type": "application/json",
    "": ""
  }
};

var req = http.request(options, function (res) {
  var chunks = [];

  res.on("data", function (chunk) {
    chunks.push(chunk);
  });

  res.on("end", function () {
    var body = Buffer.concat(chunks);
    console.log(body.toString());
  });
});

req.write(JSON.stringify({ make: 'Nissan',
  model: 'Rogue',
  color: 'Quick Silver',
  mileage: 12548 }));
req.end();</code></pre>
                            <!-- Button over the expand overlay -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>