<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <title>KdLabs API - {{pageTitle}}  </title>
</head>
<body>

{{> header}}
<!--Calling function with argument-->
<p class="test">{{screamIt welcomeMessage}}</p>

<!-- Adding Partial-->
{{> footer}}
</body>
</html>