<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>KdLabs API - {{pageTitle}}  </title>
</head>
<body>
<div class="container padding-top">
    <div class="row">
        <div class="col-12">
            <h1>{{pageTitle}}</h1>

        <p><a href="/kdCarsApi">Car Showroom API</a></p>
        <p><a href="/todosApi">TO-DO API</a></p>

        {{> footer}}
        </div>
    </div>
</div>
</body>
</html>