<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5d978d696c1dde20ed051321/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

    <meta charset="UTF-8">
    <title>KdLabs API - {{pageTitle}}  </title>
</head>
<body>
<div class="container padding-top">
    <div class="row">
        <div class="col-12">
            <h1>{{pageTitle}}</h1>

        <p><a href="/kdCarsApi">Car Showroom API</a></p>
        <p><a href="/todosApi">TO-DO API</a></p>

        {{> footer}}
        </div>
    </div>
</div>
</body>
</html>
